a {
  display: inline-block;
  color: white;
  margin-bottom: 0px;
  text-decoration: none;
}
img {
  border: 2px solid #3D007A;
  border-bottom: 0px;
  margin: 10px 0px 0px;
  text-align: center;
  width: 206px;
  height: 300px;
  vertical-align: top;
}
h2, h3 {
  color: white;
  font-family: 'Oswald', sans-serif;
  margin: 0px;
}
h4 {
  color: #E6E6E6;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
html {
  background-color: black;
  text-align: center;
}
.col {
  display: inline-block;
  width: 33%;
  vertical-align: text-top;
}
.download {
  box-shadow: 0px 0px 50px #3D007A inset;
  display: inline-block;
  width: 206px;
  border: 2px solid #3D007A;
  background-color: black;
}
.link {
  text-decoration: none;
}
.placeholder {
  width: 334px;
  height: 0px;
  visibility: hidden;
  display: inline-block;
}
.track {
  display: inline-block;
  background: rgba(61, 0, 122, 0.12);
  box-shadow: rgba(61, 0, 122, 0.5) 0px 0px 20px;
  margin: 10px 5px;
  padding: 10px;
  border: 2px solid #3D007A;
  border-radius: 5px;
}
h3 a {
  box-shadow: 0px 0px 50px #3D007A inset;
  padding: 5px 15px;
  background-color: black;
  border: 2px solid #3D007A;
}
p {
  color: white;
}
#skinParent {
  display: inline-block;
}
.bg_icon {
  width: 290px;
  height: 251px;
  border: 2px solid rgb(255, 102, 0);
  box-shadow: rgba(204, 39, 11, 0.74902) 0px 0px 15px 5px;
}
.misc_icon {
  width: 150px;
  height: 150px;
  border: 2px solid #0000CC;
}
#bgdownload {
  box-shadow: 0px 0px 50px #3D007A inset;
  display: inline-block;
  width: 290px;
  border: 2px solid #3D007A;
  background-color: black;
}
#miscdownload {
  box-shadow: 0px 0px 50px #3D007A inset;
  display: inline-block;
  width: 150px;
  border: 2px solid #3D007A;
  background-color: black;
}
