html {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}
body {
  background-color: black;
  background-image: url("../images/Background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: justify;
  width: 82%;
  margin: 0px auto;
}
.wrapper {
  margin-top: 30%;
}
.entry {
  display: inline-block;
  margin: 0px 0px 50px 0px;
}
.placeholder {
  visibility: hidden;
  display: inline-block;
  margin: 0px;
  width: 214px;
  height: 0px;
}
.icon {
  width: 206px;
  height: 300px;
  border-color: #3D007A;
  border-style: solid;
  border-width: 4px;
}
h4 {
  color: white;
  margin: 0px 0px 0px 0px;
  text-align: left;
}
.link {
  text-decoration: none;
}
#battlegrounds {
  width: 82%;
  margin: 0px auto;
  text-align: justify;
}
.map_placeholder {
  width: 290px;
  height: 0px;
  visibility: hidden;
  display: inline-block;
}
hr {
  border-color: #3D007A;
}
.category {
  color: white;
  text-align: center;
  margin-top: 40px;
}
.bg {
  display: inline-block;
  margin: 0px 0px 50px 0px;
}
.bg_icon {
  width: 290px;
  height: 251px;
  border-color: #FF6600;
  border-style: solid;
  border-width: 4px;
}
#disclaimer {
  color: #7B7B7B;
  width: 700px;
  margin: auto;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-transform: none;
}
.bottom {
  text-align: center;
}
