html {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}
body {
  background-color: black;
  background-image: url("../images/Background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  width: 90%;
  margin: 0px auto;
}

.wrapper {
  margin-top: 30%;
}
.entry {
  display: inline-block;
  margin: 0px 10px 50px 10px;
}
img {
  width: 206px;
  height: 300px;
  border-color: #3D007A;
  border-style: solid;
  border-width: 4px;
}
h4 {
  color: white;
  margin: 0px 0px 0px 0px;
  text-align: left;
}
.link {
  text-decoration: none;
}
#disclaimer {
  color: #7B7B7B;
  width: 700px;
  margin: auto;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-transform: none;
}
